extends layout

block content
  h1= title
  form(method='POST' action='/new')
    input(type='text' name='user' placeholder='User' minlength='1' maxlength='20' required)
    input(type='text' name='text' placeholder='Message' minlength='1' maxlength='140' required)
    button(type='Submit') Send Message

