extends layout

block content
  form(method='POST' action='/new' style={ 'display': 'flex', 'flex-direction': 'column', 'gap': '10px', 'max-width': '200px' })
    input(type='text' name='user' placeholder='User')
    input(type='text' name='text' placeholder='Message')
    button(type='Submit') Send Message

